/* Estilos globales del cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    /* Fondo degradado oscuro */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.contenedor {
    width: 100%;
    background-color: #F51E1E;
    /* Fondo rojo */
}

/* Estilos para un carrusel con indicadores */
#carouselExampleIndicators {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para el encabezado de la página */
header {
    background-color: #e5b20b;
    /* Fondo amarillo */
    padding: 20px 0;
}

/* Estilos para la caja del logotipo */
.caja1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    background-color: darkkhaki;
    /* Fondo marrón claro */
}

/* Estilos para la imagen del logotipo */
h1 img {
    max-width: 100%;
    height: auto;
    display: flex;
    width: 95px;
}

/* Estilos para el texto del logotipo */
.letras-logo {
    font-family: 'Licorice', cursive;
    color: white;
    font-size: 40px;
}

/* Estilos para el contenedor del logotipo */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: 0px;
    padding: 10px;
}

/* Estilos para los enlaces de la lista */
ul a {
    text-decoration: none;
}

/* Estilos para un icono de carrito de compras */
.cart {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    color: #000000;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Estilos para botones específicos */
button.btn.btn-outline-success {
    color: #000000;
    font-weight: bold;
}

/* Estilos para el contenido principal */
main {
    margin: 0px auto;
    width: 100%;
}

/* Estilos para los elementos del carrusel */
.carousel-item {
    width: 150px;
}

/* Estilos para una sección de promoción */
.promo {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    align-items: center;
    flex-wrap: wrap;

}

/* Estilos para una tarjeta */
.card {
    gap: 0px;
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Estilos para una imagen de tarjeta */
.card-img {
    width: 50px;
    height: 150px;
}

/* Estilos para un contenedor de mapa con un iframe */
.contenedor-mapa iframe {
    width: 93.50%;
    margin: 20px auto;
}

/* Estilos para el mapa */
.mapa {
    background-color: #fff;
    padding-left: 95px;
    border-radius: 20px;
    width: 93.50%;
    margin-left: 40px;
    margin-top: 20px;
}

/* Estilos para párrafos */
p {
    text-align: center;
    font-weight: 500;
}

/* Estilos para un título principal */
.titulo-principal {
    padding-top: 20px;
    margin-left: 20px;
    padding-left: 30px;
}

/* Estilos para una caja adicional */
.caja2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 40px;

}

/* Estilos para una imagen de diferencial */
.imagen-diferenciales {
    width: 500px;
    height: 400px;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 40px;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
    border-radius: 20px;
}

/* Estilos para una imagen de diferencial en estado hover */
.imagen-diferenciales:hover {
    opacity: 0.3;
}

/* Estilos para un video embebido */
.video {
    display: inline-block;
    margin-top: 40px;
}

/* Estilos para un iframe de video */
iframe {
    width: 500px;
    margin-top: 5px;
    border-radius: 20px;
    margin-right: 40px;
}

/* Estilos para el pie de página */
footer {
    background-color: #000000;
    /* Fondo negro */
    color: #fff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

/* Estilos para una imagen en el pie de página */
footer img {
    max-width: 7%;
    height: auto;
    margin-top: 20px;
}

/* Estilos para el texto de derechos de autor en el pie de página */
.copyright {
    margin-top: 10px;
}

/* Estilos para un menú desplegable en dispositivos móviles */
.offcanvas {
    width: 200px;
}

/* Estilos para el cuerpo de una tarjeta */
.card-body {
    display: flex;
    flex-direction: row;
}

/* Estilos para un botón primario */
.btn.btn-primary {
    display: flex;
    align-items: end;
    margin: auto;
    background-color: darkgreen;
    color: white;
    border: 0px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 32px;
}

/* Estilos para el estado hover de un botón primario */
.btn.btn-primary:hover {
    background-color: #000000;
}

/* Estilos para reglas de medios */
@media (max-width: 768px) {

    /* Estilos específicos para pantallas pequeñas */
    .offcanvas {
        width: 20%;
    }

    .btn-close.btn-close-white {
        font-size: 14px;
        color: red;
    }

    #offcanvasDarkNavbarLabel {
        font-size: 10px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .contenedor {
        width: 100%;
        min-width: 500px;
    }

    .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 14px;
        padding-bottom: 14px;
        padding: 2px;
        width: 32px;
        height: 32px;
    }

    .caja1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 3px;
        height: 100px;
        width: 100%;
    }

    footer {
        width: 100%;
        min-width: 450px;
    }

    .slider {
        height: 140px;
    }

    .video iframe {
        width: 445px;
        margin-left: 7px;
    }

    .imagen-diferenciales {
        margin-left: 7px;
        width: 445px;
    }

    .seccion1 {
        margin-left: 12px;
    }

    .contenedor-mapa {
        width: 100%;
        margin: 10px auto;
    }

    .promo {
        display: flex;
    }

    .card {
        display: flex;
        width: 45%;
        height: 100px;
        margin-left: -9px;
    }

    .card-img {
        width: 50px;
        height: 150px;
    }

    .contenedor-main-1 {
        min-width: 450px;
    }

    .menu {
        width: 95%;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-right: 400px;
    }

    .menu li {
        font-size: 10px;
        padding: auto;
        margin: 2px;
        font-weight: bold;
        color: white;
        list-style: none;
        margin-top: 35px;
    }

    header {
        width: 100%;
        margin: 0px
    }

    #carouselExampleIndicators {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
    }

    .seccion1 {
        margin-right: 0;
    }

    aside {
        margin-left: 0;
    }

    .boton {
        flex: 1;
        margin: 10px 0;
    }

    .mapa {
        padding: 20px;
        text-align: center;
        width: 450px;
        margin-left: 17px;
    }

    .caja2 {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }
}

/* Estilos para una animación de desplazamiento */
@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}